body {
	display: flex;
	width: 70%;
	margin: auto;
	background-color: gray;
}


.content {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

table {
	margin: 3em 3em 0 3em;
	border: 1px solid black;
	background-color: white;
}
td {
	padding: 0 1em 0 1em;
}
